<!DOCTYPE html>
<html>
<head>
  <title>FirstAppTestDrugi</title>
  <%= stylesheet_link_tag    'application', :media =>'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">

<%= yield %>

</body>
</html>
